<ion-view title="Mapa con los puertos" id="page4">
    <ion-content padding="true" class="has-header">
<!--        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper" style="background-color: #FFF;">
                <input type="search" placeholder="Buscá un evento" ng-model="busqueda.texto">
            </label>
            <button  type="button" ng-click=""  class="button button-positive icon-center icon ion-android-search"></button>
        </div>-->

        <div id="content"> 
            <div id="mapcont" >
                <div id="map"></div>
            </div>
        </div>
    </ion-content>
</ion-view>