<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Notificaciones" icon="ion-android-notifications" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Alturas" icon="ion-waterdrop" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Mapa de puertos" icon="ion-android-map" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>