page-home {
    chart {
        height: 90%;
        width: 75%;
        // position: absolute;
        margin-left: 15%;
        margin-right: 15%;
    }
    .row-chart {
        height: 60%;
    }
}